# Build-related
out/*
bin/*
build/*
assets_release/*
.gradle/*
TerrarumBuild.jar
buildapp/out/Terrarum*
buildapp/TerrarumLinux.*
buildapp/TerrarumMac.*
buildapp/TerrarumWindows.*
assets/mods/*/*.jar
work_files/skylight/hosek_model_source/*.bin

# Java native errors
hs_err_pid*
replay_pid*

# OS files
Thumbs.db
.DS_Store
desktop.ini
.directory
*/.directory

# Resources that should not be tracked
assets/mods/basegame/demoworld
external_resource_packs
#assets/mods/basegame/demoworld.gz
external_resource_packs.zip

# IntelliJ
workspace.xml

# Temporary files
.tmp*
tmp_*
*.bak
*-autosave.kra
## Microsoft Office
~$*
## Generic temp files in Linux
*~
## Vim temp files
*.swp
*.swo
